<h2>Reports Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Flag</th>
      <th>Site Code</th>
      <th>City</th>
      <th>State</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% reports.forEach(report => { %>
    <tr>
      <td>
        <a href="<%= `/reports/${report._id}` %>">
          <%= report.brand %>
        </a>
      </td>
      <td><%= report.flag %></td>
      <td><%= report.code %></td>
      <td><%= report.address.city %></td>
      <td><%= report.address.state %></td>
      <td>
        <a href="<%= `/reports/${report._id}/edit` %>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `/reports/${report._id}/delete?_method=DELETE` %>" 
          onclick="return confirm('Are you sure you want to delete this record?')">
          Delete
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
