<h1></h1>

<table class="table">
  <tr>
    <th>Brand</th>
    <td><%= report.brand %></td>
  </tr>
  <tr>
    <th>Flag</th>
    <td><%= report.flag %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= report.address.city %></td>
  </tr>
  <tr>
    <th>State</th>
    <td><%= report.address.state %></td>
  </tr>
</table>
<div>
  <a href="/reports">View all reports</a>
</div>
<div>
  <a href="<%= `/reports/${report._id}/edit` %>">
    Edit Report Details
  </a>
</div>
<div>
  <a href="<%= `/reports/${report._id}/delete?_method=DELETE` %>"
     onclick="return confirm('Are you sure you want to delete this record?')">
    Delete
  </a>
</div>
